label{
  display: block;
  margin-bottom: 15px;
}
input {
  font-size: 1.2rem;
  padding: 10px;
  margin-bottom: 20px;
}
.checkbox {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px;
  margin-bottom: 10px;
}
.checkbox label {
  margin: 0px;
}

.checkbox input {
  width: 20px;
  height: 20px;
  margin: 0px;
}
button{
  margin-top: 20px;
  text-align: center;
}
h1{
  text-align: center;
 
}
body{
  background-image: url("./img/pexels-alexander-kovalev-2847648.jpg");
}
