label{
  display: block;
  margin-bottom: 15px;
}
input {
  font-size: 1.2rem;
  padding: 10px;
  margin-bottom: 20px;
}
.checkbox {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px;
  margin-bottom: 10px;
}
.checkbox label {
  margin: 0px;
}

.checkbox input {
  width: 20px;
  height: 20px;
  margin: 0px;
}

h1{
  text-align: center;
 
}
body{
  background-image: linear-gradient(to right, rgb(20, 147, 220), rgb(17, 54, 71))
}
