.box{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
label{
  display: block;
  margin-bottom: 1rem;
  font-weight: bolder;
}
input {
  font-size: 1.5rem;
  padding: 5px;
  margin-bottom: 30px;
}
.checkbox {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px;
  margin-bottom: 10px;
}
.checkbox label {
  margin: 0px;
}

.checkbox input {
  width: 20px;
  height: 20px;
  margin: 0px;
}

h1{
  text-align: center;
 
}
body{
  background-image: linear-gradient(to right, rgb(20, 147, 220), rgb(17, 54, 71))
}

.invalido {
  border-color: rgb(242, 25, 25);
}

.erro {
  text-decoration: none;
  font-size: small;
  font-weight: lighter;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
}